.mediaWrapper {
  position: relative;
}

.mediaCaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);

  opacity: 0;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}
